.ant-pro-multi-tab{
  margin-top: -20px;
}
.ant-multi-tab {
  margin: -23px -24px 24px -24px;
  background: #fff;
}

.topmenu .ant-multi-tab-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.topmenu.content-width-Fluid .ant-multi-tab-wrapper {
  max-width: 100%;
  margin: 0 auto;
}

.ant-pro-multi-tab-wrapper {
  .tab_style {
    .ant-tabs-card-bar {
      padding-left: 0;

      .ant-tabs-nav-container {
        .ant-tabs-tab-prev:hover,
        .ant-tabs-tab-next:hover {
          // width: 22px;
          background-color: rgba(0, 0, 0, 0.03);
        }

        font-size: 13px;
        height: 39px;
      }

      .ant-tabs-tab {
        margin-right: 0;
        border-radius: 0px;
        border-top: 0px;
        line-height: 40px;

        .anticon-close {
          display: none;
        }
      }

      .ant-tabs-tab-active {

        background-color: rgba(0, 0, 0, 0.1);

        .anticon-close {
          display: inline-block;
        }
      }

      .ant-tabs-tab:hover {
        padding-left: 20px;
        padding-right: 20px;

        .anticon-close {
          color: #333;
          display: inline-block;
        }
      }
    }
  }


}
