.setting-drawer-index-content {
  .setting-drawer-index-blockChecbox {
    display: flex;

    .setting-drawer-index-item {
      margin-right: 16px;
      position: relative;
      border-radius: 4px;
      cursor: pointer;

      img {
        width: 80px;
      }

      .setting-drawer-index-selectIcon {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        padding-top: 25px;
        padding-left: 44px;
        height: 100%;
        color: $primary-color;
        font-size: 14px;
        font-weight: 700;
      }
    }
    .nav-img{
      img{
        width: 120px;
      }
    }
  }
}

.setting-drawer-index-handle {
  position: absolute;
  top: 240px;
  background: $primary-color;
  width: 48px;
  height: 48px;
  right: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  pointer-events: auto;
  z-index: 1001;
  text-align: center;
  font-size: 16px;
  border-radius: 4px 0 0 4px;

  i {
    color: rgb(255, 255, 255);
    font-size: 20px;
  }
}
.main-color{

}

.active-main-color {
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px $primary-color-lighten, 0 1px 2px 0 black;
}
.dark{

  .active-main-color {
    box-shadow: 0 0 0 2px #001529, 0 0 0 4px $primary-color-darken, 0 1px 2px 0 black;
  }
}
