.ant-layout-header {

  line-height: 62px !important;
  .header{
    .logo {
      position: relative;
      height: 64px;
      padding-left: 0px;
      overflow: hidden;
      line-height: 64px;
      display: inline-block;
      transition: all 0s;

      img,
      svg,
      h1 {
        display: inline-block;
        vertical-align: middle;
      }

      img,
      svg {

        height: 44px;
      }

      h1 {
        color: $primary-color;
        font-size: 20px;
        margin: 0 0 0 12px;
        font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
        font-weight: 500;
        vertical-align: middle;
      }
    }
    .page-title{
      h1{
        margin-bottom: 0;
        text-align: left;
      }
      h2{
        line-height: 15px;
        text-align: left;
      }
    }
  }

  .action{
    .avatar {
      display: inline-block;
    }
  }
  .top-nav-header-index{
    .action {
      .avatar {
        margin: 0 7px;
      }
    }
  }
}

.header-animat {
  position: relative;
  z-index: 105;
}

.showHeader-enter-active {
  transition: all 0.25s ease;
}

.showHeader-leave-active {
  transition: all 0.5s ease;
}

.showHeader-enter,
.showHeader-leave-to {
  opacity: 0;
}
