.side-toggle{
  background-color: rgba(255, 255, 255, 1);
}
.ant-menu{
  box-shadow: none !important;
}
.ant-menu-submenu{
  .ant-menu-item-icon, .ant-menu-submenu-arrow, .ant-menu-submenu-expand-icon {
    color: $white ;
  }
  .svg-icon{
    [fill]:not([fill="none"])  {
      fill:  $white;
    }
  }
  &:hover{
    .ant-menu-submenu-title{
      color: $white;
      .ant-menu-item-icon, .ant-menu-submenu-arrow, .ant-menu-submenu-expand-icon {
        color: $white ;
      }
      .svg-icon{
        [fill]:not([fill="none"])  {
          fill:  $white;
        }
      }
    }
  }
}
.ant-menu-item{
  .svg-icon{
    [fill]:not([fill="none"])  {
      fill:  $white;
    }
  }
  &:hover{
    .svg-icon{
      [fill]:not([fill="none"])  {
        fill:  $white;
      }
    }
  }
}
.ant-menu-submenu-selected{
  .ant-menu-submenu-title, .ant-menu-item-selected{
    color: #fff;
    .svg-icon{
      [fill]:not([fill="none"])  {
        fill:  $white;
      }
    }

  }
}
.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background: #001325;
}
.ant-menu-sub.ant-menu-inline{
  background: #001325 !important;
}
.ant-layout-sider {

  .ant-menu-item-selected{

    &:after {
      border-right: 3px solid transparent !important;
      width: calc(100% - 20px);
      background: rgba(255, 255, 255, 0.1);
      margin-left: 40px;
      margin-right: 10px;
      border-radius: 10px;
      z-index: 0;
    }
  }
  transition: all 0s !important;
}
