.resizer {

  background-color: transparent;
  position: absolute;
  left: 0;
  width: 3px;
  height: 100%;
  cursor: ew-resize;

  &:hover, &:focus{
    background-color:  $primary-color !important;
  }
}
.canvas-drawer, #right_panel{
  .ant-drawer-body{
    padding: 0 !important;
  }
}
.krud-popup {
  .ant-modal-body{
    padding: 0 !important;
  }
}
