.aside-theme .content{
  .title {

    h2{
      color: #21b3ff;
    }
   p {
      color: #fe4e24;
    }
  }

  &:before {
    position: absolute;
    background-color: rgba(255, 255, 255, 0) !important;
    height: 100%;
    width: 100%;
    display: block;
    content: "";

  }
}
.aside-theme {
  .register-section {
    padding: 0 3em;
  }
}

.login_input_container{

  border: 1px solid #5c2f91 !important;
  background-color: #5c2f91 !important;
  .ant-input{
    background: none !important;
  }
}

.tlogin{
  background-color: #21b3ff !important;
}