#menu-tree {
  max-width: 100%;
}

#menu-tree {
  margin-bottom: 30px;
  ul {
    margin: 00px 0 0 0;
    padding: 10px 0;
    list-style-type: none;

    border: 1px solid transparent;
    border-radius: 8px;
    overflow: hidden;
    li.menu-tree-item {
      list-style-type: none;

      border-bottom: 1px solid  rgba(54, 153, 253, 0.3);

      padding: 5px 0 5px 15px;
      background-color: rgba(54, 153, 253, 0.1);
      transition: all 0.5s ease-out;
      height: auto;

    }

  }

  ul, #menuTree {

    //background-color: #fff;
  }

  .extended {
    height: 250px;
  }

  .menu-tree-item div.sortDiv {
    padding: 2px;
    background-color: transparent;
    border-bottom: 1px solid transparent;
    position: relative;
    cursor: default;
    min-height: 43px;
    line-height: 37px;
  }

  .menu-control {
    position: absolute;
    right: 0;
    top: 0;
    min-height: 26px;
    line-height: 26px;
    margin: 0 10px;
    padding: 7px;
  }

  .advanced {
    border-top: dotted 1px #dedede;
    display: flex;
    align-items: center;
    padding: 15px 0;
    margin-top: 15px;
    h4 {
      font-weight: 500;
      text-transform: uppercase;
      font-size: 12px;
      margin-right: 20px;
    }
    .ivu-checkbox-wrapper {
      margin-right: 10px;
    }
  }
  .ant-switch-checked{
    background: #3699FF !important;
  }
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #3699FF;
    border-color: #3699FF;
  }
}

.sortDiv {
  button {
    display: inline-block;
    margin: 0 1px;
  }
  .buttons {
    position: absolute;
    right: 5px;
    top: 5px;
  }
}

.menu-title {
  max-width: 80% !important;
  display: inline-block;
  padding-left: 5px;
  .ivu-checkbox-wrapper {
    margin: 0;
  }
}

.menu-icon {
  max-width: 70px;
  display: inline-block;
  padding-left: 5px;
  .menu-icon-box{
    width: 34px;
    height: 34px;
    padding: 5px;
    font-size: 16px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 1px;
    vertical-align: middle;
    background-color: #ffffff;
    text-align: center;
  }
  svg{
    vertical-align: middle;
    [fill]:not([fill="none"])  {
      fill: #3699FF;
    }
  }
}

.menu_types {
  max-width: 120px !important;
}

.user-data {
  background: #fff;
  width: 100%;
  height: auto;
  min-height: 210px;
  padding: 10px 15px;
}
